.recherche-liste {
	width: 50%;
	float: left;
	margin-left: 10px;
}
.up-liste > a, .up-liste > span {
	display: block;
	float: left;
	margin-left: 10px;
	color: #337ab7;
	//font-size: 1.2em;
}
.gauche {
	float: left;
	margin-right: 10px;
}
span.highlight{
  background: #f1c40f;
}

